
<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="container">

    <header>
        <% include partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">

                <h3>About</h3>

                <p><a href="https://en.wikipedia.org/wiki/Marie_Anne_Lenormand">Marie Anne Adelaide Lenormand</a></p>

                <p>Lenormand definitions by Paris Debono</p>


                <p>1 - Rider: messages, news, new situations, travel, journey, new horizons, another lover, charming person, sporty person, physical attraction, moving quickly, not tied down.
                    <p>2 - Clover: quiet happiness, small happiness, hope, luck, opportunities, new beginnings, new life.
                   <p> 3 - Ship: travel, journey, progress, movement forward, in between two places, haven’t arrived yet.
                   <p> 4 - House: home, prosperity, family, domestic area, real estate, heritage, tradition, property, being grounded, stability, physical body.</p>
                    <p>5 - Tree: health, life, medicine, stability, grounded, slow growing, can be boring, family tree, heritage.
                    <p>6 - Clouds: obstacles, temporary confusion, lack of clarity, ambiguity, foggy, anxiety, worry, avoidance, illusion.</p>
                    <p>7 - Snake: ominous events, betrayal, envy, difficulties, bad omen, female person, woman, betrayal, falseness, poison, entanglement, slippery, sly, third party influence.</p>
                    <p>8 - Coffin: end, death, serious illness, major life changes, negative health, disease, sorrow, brings end to previous card.</p>
                    <p>9 - Bouquet: gift, happiness, beauty, joy, happy surprise, invitation, attraction, pleasure, appreciation, sexual attraction, lust, desire.</p>
                    <p>10 - Scythe: danger, break, sudden end, decisive action, shock, accidents, hard work, effort will bring reward, harvesting from past efforts.</p>
                   <p> 11 - Whip : discord, arguments, sex, physical activity, work, big troubles, difficult conversations, arguments, repetitive action, self punishment & guilt, tongue lashing.</p>
                    <p>12 - Birds: difficulties, small troubles, thoughts, conversations, companionship, telephone calls, nervousness, pairing up, choices to make, new directions, social networking, news, gossip.</p>
                    <p>13 - Child: child, childhood, a person card, new beginning, something small, overwhelmed, not being an adult, not being responsible, being meek.</p>
                   <p> 14 - Fox: distrust, shrewdness, working for self, self employed, multi skilled, adaptable, sly, cunning, cleverness, falseness, puts self first, looks after self interests.</p>
                    <p>15 - Bear: mother, strength, finances, nutrition, a male person, official person, power, good health, over bearing, unbearable, overprotective, bossy, disruptive, cranky.</p>
                    <p>16 - Stars: birth, success, guidance, fate, ideals, intuition, soul, esotericism, guiding light, scattering your energies, stardom, fame, hopes & aspirations.
                    <p>17 - Storks: change, improvement, going back to the past, repeating past patterns, migration, returning to the familiar, new baby or new idea, travel, liberation, adaptable.</p>
                    <p>18 - Dog: faithfulness, friendship, trust, a person card, reliability, helpful friend or guide, loyalty, dogged, persistent, dogmatic, hounding.</p>
                   <p> 19 - Tower: life-story, government, authority, corporation, legal matters, school, workplace, office, isolation, big buildings, lonely, defensive, hard to get in, seeing things from higher level.</p>
                    <p>20 - Garden: environment, creativity, public, social interaction, meeting many people, dating, community, many people will influence, putting on display in public, known by many, player, womanizer.</p>
                   <p> 21 - Mountain: enemy, resistance, delay, obstacle, barrier, blockage, hard challenge to overcome, detachment, feeling cold, distant, defensive, difficult odds, odds are against you.</p>
                   <p> 22 - Crossroad: choices, decisions, new ways of thinking, alternatives, travel, journey, on your way, haven’t arrived yet, more than one to choose from, in the middle of a process.</p>
                    <p>23 - Mice: loss, theft, stressful times, sorrows, poverty, ill-health, lack, anxiety, false friends, gossip, something small, destruction, avoidance, hiding out, afraid to be seen, not speaking up.</p>
                   <p> 24 - Heart: love, happiness, joy, attraction, affection, affinity, unity, partnership, desire, lust, closeness, togetherness, sensuality, beauty, interest, emotions, good public relation skills, supportive.</p>
                   <p> 25 - Ring: wedding, union, contract, agreement, marriage, connection, partnership, valuable, long lasting, binding, serious relationship, long term, going in cycles, wealth & valuables, strong like a diamond.</p>
                    <p>26 - Book: studies, secrets, unknown, education, knowledge, hidden information, not open, don’t judge a book by its cover, closed book, old knowledge, wisdom, understanding, bookish, conservative.</p>
                   <p> 27 - Letter: messages, documents, written news or contacts, thinking, ideas, the mind, anxiety, knowledge, mental, emails, text messaging, talking, analytical, over-thinking.</p>
                   <p> 28 - Man: male person.</p>
                   <p> 29 - Woman: female person.</p>
                   <p> 30 - Lily: father, support, peace, maturity, excitement, stress, sexuality, sexual attraction, family, harmony, wisdom, purity, experience, good intentions, attraction, honor, integrity.</p>
                    <p>31- Sun: wealth, optimism, determination, big success, happiness, luck, energy, fame, power. creativity, talent, leadership, knowledge, seeing the light, clear vision, you already know, conscious.</p>
                   <p> 32 - Moon: professional success, reputation, emotions, creativity, intuition, honor, fame, soul, dreams, imagination, fears, illusion, moods, memory, past, your impact on the environment.</p>
                    <p>33 - Key: new beginning, solution, success, spiritual forces, power, work, security, certainty, makes the following Card a certainty, new doors opening, you have the ability, working things out, unlocking, finding solution.</p>
                    <p>34 - Fish: wealth, profit, commerce, self-employment, money, abundance, prosperity, plenty of fish, opportunities, many people, socializing, fishy, slippery, elusive.</p>
                   <p> 35 - Anchor: longing, security, long-term goals, perseverance, long journey, work, stability, deep connection, centering yourself, grounded, stability, balance, slow moving, tied down, stuck, hooked.</p>
                    <p>36 - Cross: suffering, burden, pain, sorrow, despair, grief, faith, a test, karma, brings the previous card to an end, resurrection, rebirth, reinvention, spiritual evolution, end of one chapter to begin another, change of state or way of being.</p>

                    <p></p>




                    <p></p>
                    
<!--                 <div class="jumbotron">
                    <h1>About</h1>
                    <p>Lenormand is a thing</p>
                </div> -->
                
            </div>
           <!--  <div class="col-sm-4">
                
                <div class="well">
                    <h3>Sidebar</h3>
                </div>

            </div> -->
        </div>
    </main>

    <footer>
        <% include partials/footer %>
    </footer>
    
</body>
</html>