
<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>

<!-- <body class="container">
 -->

<body class = "container-fluid">
 <header>
    <% include partials/header %>
  </header>

  <div class="container">
 


      <div class="row">
      <div class="col-xs-6">
      <div class="row">
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image1" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image2" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image3" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image4" class="img-responsive"></div>
      </div>
      </div>

      <div class="col-xs-6">
      <div class="row">
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image5" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image6" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image7" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image8" class="img-responsive"></div>
      </div>
      </div>
      </div>

      <div class="row">
      <div class="col-xs-6">
      <div class="row">
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image9" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image10" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image11" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image12" class="img-responsive"></div>
      </div>
      </div>

      <div class="col-xs-6">
      <div class="row">
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image13" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image14" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image15" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image16" class="img-responsive"></div>
      </div>
      </div>
      </div>
    

      <div class="row">
      <div class="col-xs-6">
      <div class="row">
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image17" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image18" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image19" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image20" class="img-responsive"></div>
      </div>
      </div>


      <div class="col-xs-6">
      <div class="row">
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image21" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image22" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image23" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image24" class="img-responsive"></div>
      </div>
      </div>
      </div>

      <div class="row">
      <div class="col-xs-6">
      <div class="row">
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image25" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image26" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image27" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image28" class="img-responsive"></div>
      </div>
      </div>


      <div class="col-xs-6">
      <div class="row">
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image29" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image30" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image31" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image32" class="img-responsive"></div>
      </div>
      </div>
      </div>

      <div class="row">
      <div class="col-xs-6">
      <div class="row">
      <div class="col-xs-3 img-responsive center-block"></div>
      <div class="col-xs-3 img-responsive center-block"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image33" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image34" class="img-responsive"></div>
      </div>
      </div>

      <div class="col-xs-6">
      <div class="row">
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image35" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image36" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"></div>
      <div class="col-xs-3 img-responsive center-block"></div>
      </div>
      </div>
      </div>

  </div> 


  <script>makeItHappen();</script>


  <footer>
    <% include partials/footer %>
  </footer>

</body>
</html>