
<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>

<!-- <body class="container">
 -->

<body class = "container-fluid">
 <header>
    <% include partials/header %>
  </header>

  <div class="container">
 


      <div class="row">
      <div class="col-xs-6">
      <div class="row">
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image1" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image2" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image3" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image4" class="img-responsive"></div>
      </div>
      </div>

      <div class="col-xs-6">
      <div class="row">
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image5" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image6" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image7" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image8" class="img-responsive"></div>
      </div>
      </div>
      </div>

      <div class="row">
      <div class="col-xs-6">
      <div class="row">
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image9" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image10" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image11" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image12" class="img-responsive"></div>
      </div>
      </div>

      <div class="col-xs-6">
      <div class="row">
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image13" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image14" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image15" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image16" class="img-responsive"></div>
      </div>
      </div>
      </div>
    

      <div class="row">
      <div class="col-xs-6">
      <div class="row">
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image17" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image18" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image19" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image20" class="img-responsive"></div>
      </div>
      </div>


      <div class="col-xs-6">
      <div class="row">
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image21" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image22" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image23" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image24" class="img-responsive"></div>
      </div>
      </div>
      </div>

      <div class="row">
      <div class="col-xs-6">
      <div class="row">
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image25" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image26" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image27" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image28" class="img-responsive"></div>
      </div>
      </div>


      <div class="col-xs-6">
      <div class="row">
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image29" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image30" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image31" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image32" class="img-responsive"></div>
      </div>
      </div>
      </div>

      <div class="row">
      <div class="col-xs-6">
      <div class="row">
      <div class="col-xs-3 img-responsive center-block"></div>
      <div class="col-xs-3 img-responsive center-block"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image33" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image34" class="img-responsive"></div>
      </div>
      </div>

      <div class="col-xs-6">
      <div class="row">
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image35" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"><img src="" id="image36" class="img-responsive"></div>
      <div class="col-xs-3 img-responsive center-block"></div>
      <div class="col-xs-3 img-responsive center-block"></div>
      </div>
      </div>
      </div>

  </div> 


  <script>

    var numberArray = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36];

    shuffle(numberArray);

    var number = numberArray[0];

    image1.src = 'images/' + numberArray.shift() + '.jpg';
    image2.src = 'images/' + numberArray.shift() + '.jpg';
    image3.src = 'images/' + numberArray.shift() + '.jpg';
    image4.src = 'images/' + numberArray.shift() + '.jpg';
    image5.src = 'images/' + numberArray.shift() + '.jpg';
    image6.src = 'images/' + numberArray.shift() + '.jpg';
    image7.src = 'images/' + numberArray.shift() + '.jpg';
    image8.src = 'images/' + numberArray.shift() + '.jpg';
    image9.src = 'images/' + numberArray.shift() + '.jpg';
    image10.src = 'images/' + numberArray.shift() + '.jpg';
    image11.src = 'images/' + numberArray.shift() + '.jpg';
    image12.src = 'images/' + numberArray.shift() + '.jpg';
    image13.src = 'images/' + numberArray.shift() + '.jpg';
    image14.src = 'images/' + numberArray.shift() + '.jpg';
    image15.src = 'images/' + numberArray.shift() + '.jpg';
    image16.src = 'images/' + numberArray.shift() + '.jpg';
    image17.src = 'images/' + numberArray.shift() + '.jpg';
    image18.src = 'images/' + numberArray.shift() + '.jpg';
    image19.src = 'images/' + numberArray.shift() + '.jpg';
    image20.src = 'images/' + numberArray.shift() + '.jpg';
    image21.src = 'images/' + numberArray.shift() + '.jpg';
    image22.src = 'images/' + numberArray.shift() + '.jpg';
    image23.src = 'images/' + numberArray.shift() + '.jpg';
    image24.src = 'images/' + numberArray.shift() + '.jpg';
    image25.src = 'images/' + numberArray.shift() + '.jpg';
    image26.src = 'images/' + numberArray.shift() + '.jpg';
    image27.src = 'images/' + numberArray.shift() + '.jpg';
    image28.src = 'images/' + numberArray.shift() + '.jpg';
    image29.src = 'images/' + numberArray.shift() + '.jpg';
    image30.src = 'images/' + numberArray.shift() + '.jpg';
    image31.src = 'images/' + numberArray.shift() + '.jpg';
    image32.src = 'images/' + numberArray.shift() + '.jpg';
    image33.src = 'images/' + numberArray.shift() + '.jpg';
    image34.src = 'images/' + numberArray.shift() + '.jpg';
    image35.src = 'images/' + numberArray.shift() + '.jpg';
    image36.src = 'images/' + numberArray.shift() + '.jpg';


  </script>


  <footer>
    <% include partials/footer %>
  </footer>

</body>
</html>